.newLoadWrapper {
  margin: 2%;
  padding: 5px;
  border: 3px solid #333333;
  border-radius: 5px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.77);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.77);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.77);
  max-height: 85vh;
  overflow-y: scroll;
}
*::-webkit-scrollbar {
  width: 0;
}
.newLoadWrapper hr {
  border: 2px solid #b9b8b8;
  border-radius: 5px;
}
.newLoadWrapper h5{
  margin-left: 2%;
  margin-top: 2%;
}
.pickupDetails, .loadInformation, .deliveryLocation, .deliveryDetails {
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.newLoadWrapper input, .newLoadWrapper textarea, .newLoadWrapper select {
  width: 280px;
  margin: 8px 4px;
  border-radius: 5px;
  background-color: transparent;
  border: 2px solid #333333;
  color: #b9b8b8;
}

.newLoadWrapper label, .newLoadWrapper label::after, .newLoadWrapper input:focus, .newLoadWrapper select:focus, .newLoadWrapper textarea:focus {
  color: #b9b8b8!important;
  background-color: transparent!important;
}
.newLoadWrapper select>option{
  background-color: #121212!important;
}
.invis {
  background-color: transparent;
  border: 0!important;
}
.newLoadWrapper button {
  width: 300px;
  height: max-content;
  font-weight: bold;
  padding: 10px;
  background-color: transparent;
  color: #b9b8b8;
  border: 2px solid #333333;
  border-radius: 5px;
  transition-duration: 0.3s;

}
.newLoadWrapper button:hover {
  color: rgb(0, 131, 15);
  border: 2px solid rgb(0, 68, 8);
  transition-duration: 0.3s;
}
.buttonWrapper {
  text-align: center;
}