/* BASE STYLE */
* {
  font-family: 'JetBrains Mono Variable', sans-serif;
}
*::-webkit-scrollbar {
  width: 0;
}
body {
  background-color: #121212;
  overflow-y: scroll;
}

a, p, span, h1, h2, h3, h4, h5 {
  color: #b9b8b8!important;
}

/* LOADER STYLING  */
.loadingMessage {
  display: flex;
  flex-direction: row;
}
.loadingMessage p {
  padding: 40px;
  padding-right: 0;
}

/* COMPANY HOME PAGE STYLING */
.home-wrapper {
  display: flex;
  flex-direction: row;
  margin-top: 2%;
}
.home-side {
  display: flex;
  flex-direction: column;
  width: max-content;
  height: max-content;
  margin-left: 1%;
  border: 3px solid #333333;
  border-radius: 10px;
  border-left: 0;
  height: max-content;
}
.home-side button {
  height: 60px;
  margin: 10px;
  color: #b9b8b8;
  background-color: transparent;
  border: 2px solid #333333;
  border-radius: 5px;
  transition-duration: 0.3s;
}
.home-side button:hover {
  color: white;
  border: 2px solid white;
  transition-duration: 0.3s;
}
.home-content {
  margin-left: 3%;
  width: 75%;
}