#main-navbar {
  border-bottom: 3px solid #333333;
  border-radius: 5px;
  width: 99.7%;
  margin: auto;
  margin-bottom: 1%;
}
.main-navbar {
  margin: 0% 2% 0% 2%;
}
.main-navbar .navbar-brand {
  font-size: large;
  font-weight: bold;
}
.main-navbar a {
  transition-duration: 0.3s;
  font-size: 14px;
}
.main-navbar a:hover {
  color: white!important;
  transition-duration: 0.3s;
}
.main-navbar .dropdown-menu-end {
  background-color: #121212;
  border: 3px solid #333333!important;
  border-radius: 5px;
}
.main-navbar .dropdown-item {
  color: white;
  transition-duration: 0.3s;
}
.main-navbar .dropdown-item:hover {
  background-color: #121212;
  color: rgb(0,44,175);
  transition-duration: 0.3s;
}
.main-navbar .dropdown-divider {
  border-top: 3px solid #333333;
}