/* USER SIGNUP */
.sign-up-form {
  margin: 5% 30%;
  display: flex;
  flex-direction: column;
  color: #b9b8b8!important;
}
.sign-up-form input {
  margin-bottom: 2%;
  background-color: #121212;
  color: white!important;
  background-color: transparent;
  border: 2px solid #333333;
}
.sign-up-form input:focus, .sign-up-form input:focus {
  color: #b9b8b8!important;
  background-color: transparent!important;
}
.sign-up-submit button {
  width: 100%;
  height: 50px;
  background-color: #1d1d1d;
  border: 2px solid #333333;
  border-radius: 5px;
  color: #b9b8b8;
  transition-duration: 0.3s;
}
.sign-up-submit button:hover {
  color: rgb(2, 223, 2);
  background-color: #17281a;
  border: 2px solid rgb(0, 61, 0);
  transition-duration: 0.3s;
}
.sign-up-submit button:disabled, .sign-up-submit button[disabled] {
  color: black;
  background-color: rgb(80, 0, 0);
  border: 2px solid rgb(80, 0, 0);
}
.show-password-button {
  position: absolute;
  top: 45%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 20px;
  border: 0;
  color: #333333;
  background-color: transparent;
}
.show-password-button::after {
  color: white!important;
}

/* COMPANY SIGNUP */
.company-sign-up {
  margin: 5% 30%;
  display: flex;
  flex-direction: column;
  color: #b9b8b8!important;
}
.company-sign-up input {
  margin-bottom: 2%;
  background-color: #121212;
  color: white!important;
  background-color: transparent;
  border: 2px solid #333333;
}
.company-sign-up input:focus, .company-sign-up input:focus {
  color: #b9b8b8!important;
  background-color: transparent!important;
}
.company-sign-up button {
  width: 100%;
  height: 50px;
  background-color: #1d1d1d;
  border: 2px solid #333333;
  border-radius: 5px;
  color: #b9b8b8;
  transition-duration: 0.3s;
}
.company-sign-up button:hover {
  color: rgb(2, 223, 2);
  background-color: #17281a;
  border: 2px solid rgb(0, 61, 0);
  transition-duration: 0.3s;
}
.company-sign-up button:disabled, .company-sign-up button[disabled] {
  color: black;
  background-color: rgb(80, 0, 0);
  border: 2px solid rgb(80, 0, 0);
}